<ion-header *ngIf="event">
  <header [pageTitle]="event.name"></header>
</ion-header>

<ion-content *ngIf="event" padding>

  <ion-item>
    <ion-icon name="md-calendar" item-start large></ion-icon>
    <h2>{{ event.name }}</h2>
    <p>{{ event.category.name }}</p>
  </ion-item>

  <ion-item>
    <ion-icon name="compass" item-start large></ion-icon>
    <p>{{ event.location }}</p>
  </ion-item>

  <ion-item>
    <ion-icon name="time" item-start large></ion-icon>
    <p>
      Starts on {{ event.startDate | date:'yyyy.MM.dd' }}
      at {{ event.startDate | date:'HH:mm' }}
    </p>
    <p>
      Ends on {{ event.endDate | date:'yyyy.MM.dd' }}
      at {{ event.endDate | date:'HH:mm' }}
    </p>
  </ion-item>

  <ion-item *ngIf="event.description">
    <p>{{ event.description }}</p>
  </ion-item>

</ion-content>
