<ion-header *ngIf="event">
  <header [pageTitle]="event.name"></header>
</ion-header>

<ion-content *ngIf="event">

  <ion-item no-lines class="detail-item">
    <ion-icon name="md-calendar" color="primary" item-start large></ion-icon>
    <h2>{{ event.name }}</h2>
    <p>{{ event.category.name }}</p>
  </ion-item>

  <ion-item no-lines class="detail-item">
    <ion-icon name="time" color="primary" item-start large></ion-icon>
    <p>
      {{ 'events.detail.startDate' | translate:translationParams.startDate }}
    </p>
    <p>
      {{ 'events.detail.endDate' | translate:translationParams.endDate }}
    </p>
  </ion-item>

  <ion-item no-lines class="detail-item">
    <ion-icon name="compass" color="primary" item-start large></ion-icon>
    <p>{{ event.location }}</p>
  </ion-item>

  <ion-item no-lines class="detail-item">
    <ion-icon name="create" color="primary" item-start large></ion-icon>
    <p>
      {{ 'events.detail.createdAt' | translate:translationParams.createdAt }}
    </p>
    <p>
      {{ 'events.detail.updatedAt' | translate:translationParams.updatedAt }}
    </p>
  </ion-item>

  <ion-item no-lines class="detail-item" *ngIf="event.description">
    <p>{{ event.description }}</p>
  </ion-item>

  <ion-fab right bottom>
    <button ion-fab (click)="navigateToUpdatePage()">
      <ion-icon name="md-create"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
