<ion-header *ngIf="task">
  <header [pageTitle]="task.name"></header>
</ion-header>

<ion-content *ngIf="task">

  <ion-item no-lines class="detail-item">
    <ion-icon name="md-checkbox-outline" color="primary" item-start large></ion-icon>
    <h2>{{ task.name }}</h2>
    <p>{{ task.category.name }}</p>
  </ion-item>

  <ion-item no-lines class="detail-item">
    <ion-icon name="information-circle" color="primary" item-start large></ion-icon>
    <p *ngIf="task.priority">
      {{ 'tasks.detail.priority' | translate }}: {{ task.priorityLabel | translate }}
    </p>
    <p>
      {{ 'tasks.detail.status' | translate }}: {{ task.statusLabel | translate }}
    </p>
  </ion-item>

  <ion-item no-lines class="detail-item">
    <ion-icon name="time" color="primary" item-start large></ion-icon>
    <p>
      {{ 'tasks.detail.startDate' | translate:translationParams.startDate }}
    </p>
    <p>
      {{ 'tasks.detail.endDate' | translate:translationParams.endDate }}
    </p>
  </ion-item>

  <ion-item no-lines class="detail-item">
    <ion-icon name="create" color="primary" item-start large></ion-icon>
    <p>
      {{ 'events.detail.createdAt' | translate:translationParams.createdAt }}
    </p>
    <p>
      {{ 'events.detail.updatedAt' | translate:translationParams.updatedAt }}
    </p>
  </ion-item>

  <ion-item no-lines class="detail-item" *ngIf="task.description">
    <p>{{ task.description }}</p>
  </ion-item>

  <ion-fab right bottom>
    <button ion-fab (click)="navigateToUpdatePage()">
      <ion-icon name="md-create"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
