<ion-header>
  <header [pageTitle]="'notes.create.title' | translate"></header>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="form" (ngSubmit)="createNote()">
      <ion-item>
        <ion-label floating>{{ 'notes.create.form.fields.name' | translate }}</ion-label>
        <ion-input formControlName="name" id="name" type="text">
        </ion-input>
        <i class="icon ion-alert-circled error"></i>
      </ion-item>
      <div *ngIf="(name.dirty || isSubmitted) && name.invalid" class="form-error-message">
        <div *ngIf="name.errors.required">
          {{ 'common.forms.errors.required' | translate }}
        </div>
        <div *ngIf="name.errors.remote">
          {{ name.errors.remote }}
        </div>
      </div>

      <ion-item>
        <ion-label floating>{{ 'notes.create.form.fields.category' | translate }}</ion-label>
        <ion-select formControlName="category" id="category">
          <ion-option *ngFor="let category of categories" value="{{ category.url }}">
            {{ category.name }}
          </ion-option>
        </ion-select>
        <i class="icon ion-alert-circled error"></i>
      </ion-item>
      <div *ngIf="(category.dirty || isSubmitted) && category.invalid" class="form-error-message">
        <div *ngIf="category.errors.required">
          {{ 'common.forms.errors.required' | translate }}
        </div>
        <div *ngIf="category.errors.remote">
          {{ category.errors.remote }}
        </div>
      </div>

      <ion-item>
        <ion-label floating>{{ 'notes.create.form.fields.text' | translate }}</ion-label>
        <ion-textarea formControlName="text" id="text" type="text">
        </ion-textarea>
        <i class="icon ion-alert-circled error"></i>
      </ion-item>
      <div *ngIf="(text.dirty || isSubmitted) && text.invalid" class="form-error-message">
        <div *ngIf="text.errors.required">
          {{ 'common.forms.errors.required' | translate }}
        </div>
        <div *ngIf="text.errors.remote">
          {{ text.errors.remote }}
        </div>
      </div>
      <div padding>
        <button ion-button block type="submit" class="submit-button" [disabled]="!form.valid">
          {{ 'notes.create.form.submitButton' | translate }}
        </button>
      </div>
    </form>
  </ion-list>
</ion-content>
