page-home {
  .overview-segment {
    background-color: color($colors, primary);
    .segment-button {
      color: color($colors, light);
    }
  }
  .segment-content {
    border: 1px solid color($colors, primary);
    ion-label {
      font-size: 1em;
    }
  }
}
