<ion-header>
  <header pageTitle="Librete App"></header>
</ion-header>

<ion-content padding>
  <h2>
    {{ 'home.welcome' | translate }}
  </h2>
  <p>
    {{ 'home.description' | translate }}
  </p>
  <p *ngIf="stats">
    {{ 'home.stats' | translate:stats }}
  </p>

  <h3>{{ 'home.charts.activity.label' | translate }}</h3>
  <canvas #activityCanvas></canvas>

  <h3>{{ 'home.overview.upcoming.title' | translate }}</h3>
  <ion-segment [(ngModel)]="upcoming" class="overview-segment">
    <ion-segment-button value="events" >
      {{ 'home.overview.upcoming.buttons.events' | translate }}
    </ion-segment-button>
    <ion-segment-button value="tasks">
      {{ 'home.overview.upcoming.buttons.tasks' | translate }}
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="upcoming" class="segment-content">
    <ion-list *ngSwitchCase="'events'">
      <div *ngIf="upcomingEvents">
        <ion-item *ngFor="let event of upcomingEvents" (tap)="navigateToDetailPage(event)">
          <h2>{{ event.name }}</h2>
        </ion-item>
      </div>
      <ion-item *ngIf="!upcomingEvents">
        {{ 'home.overview.upcoming.emptyTexts.events' | translate }}
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'tasks'">
      <div *ngIf="upcomingTasks">
        <ion-item *ngFor="let task of upcomingTasks" (tap)="navigateToDetailPage(task)">
          <h2>{{ task.name }}</h2>
        </ion-item>
      </div>
      <ion-item *ngIf="!upcomingTasks">
        {{ 'home.overview.upcoming.emptyTexts.tasks' | translate }}
      </ion-item>
    </ion-list>
  </div>

  <h3>{{ 'home.overview.latest.title' | translate }}</h3>
  <ion-segment [(ngModel)]="latest" class="overview-segment">
    <ion-segment-button value="events" >
      {{ 'home.overview.latest.buttons.events' | translate }}
    </ion-segment-button>
    <ion-segment-button value="notes">
      {{ 'home.overview.latest.buttons.notes' | translate }}
    </ion-segment-button>
    <ion-segment-button value="tasks">
      {{ 'home.overview.latest.buttons.tasks' | translate }}
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="latest" class="segment-content">
    <ion-list *ngSwitchCase="'events'">
      <div *ngIf="latestEvents">
        <ion-item *ngFor="let event of latestEvents" (tap)="navigateToDetailPage(event)">
          <h2>{{ event.name }}</h2>
        </ion-item>
      </div>
      <ion-item *ngIf="!latestEvents">
        {{ 'home.overview.latest.emptyTexts.events' | translate }}
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'notes'">
      <div *ngIf="latestNotes">
        <ion-item *ngFor="let note of latestNotes" (tap)="navigateToDetailPage(note)">
          <h2>{{ note.name }}</h2>
        </ion-item>
      </div>
      <ion-item *ngIf="!latestNotes">
        {{ 'home.overview..latest.emptyTexts.notes' | translate }}
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'tasks'">
      <div *ngIf="latestTasks">
        <ion-item *ngFor="let task of latestTasks" (tap)="navigateToDetailPage(task)">
          <h2>{{ task.name }}</h2>
        </ion-item>
      </div>
      <ion-item *ngIf="!latestTasks">
        {{ 'home.overview.latest.emptyTexts.events' | translate }}
      </ion-item>
    </ion-list>
  </div>

</ion-content>
