page-note-list {
  .ordering-options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    .ordering-option {
      width: auto;
      margin-top: 1px;
      .item-inner {
        border-bottom: 0;
        padding-right: 0;
      }
    }
    ion-select {
      max-width: none;
      padding: 0px 3px 0px 0px;
    }
  }
  .scroll-content {
    padding-top: 10px;
  }
  ion-item.item-block.list-item {
    ion-icon[item-start] {
      margin: 0;
      width: 1.5em;
    }
    .item-inner {
      margin-left: 0.5em;
    }
  }
  .label {
    margin: 0.5em 0;
  }
  .list-options > button {
    width: 3.5em;
    font-size: 1.25em;
  }
}
