page-note-list {
  .scroll-content {
    padding-top: 10px;
  }
  ion-item.item-block.list-item {
    ion-icon[item-start] {
      margin: 0;
      width: 1.5em;
    }
    .item-inner {
      margin-left: 0.5em;
    }
  }
  .label {
    margin: 0.5em 0;
  }
}
