<ion-header>
  <header [pageTitle]="'tasks.update.title' | translate"></header>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="form" (ngSubmit)="updateTask()">
      <ion-item>
        <ion-label floating>{{ 'tasks.update.form.fields.name' | translate }}</ion-label>
        <ion-input formControlName="name" id="name" type="text">
        </ion-input>
        <i class="icon ion-alert-circled error"></i>
      </ion-item>
      <div *ngIf="(name.dirty || isSubmitted) && name.invalid" class="form-error-message">
        <div *ngIf="name.errors.required">
          This field is required.
        </div>
        <div *ngIf="name.errors.remote">
          {{ name.errors.remote }}
        </div>
      </div>

      <ion-item>
        <ion-label floating>{{ 'tasks.update.form.fields.category' | translate }}</ion-label>
        <ion-select formControlName="category" id="category">
          <ion-option *ngFor="let category of categories" value="{{ category.url }}">
            {{ category.name }}
          </ion-option>
        </ion-select>
        <i class="icon ion-alert-circled error"></i>
      </ion-item>
      <div *ngIf="(category.dirty || isSubmitted) && category.invalid" class="form-error-message">
        <div *ngIf="category.errors.required">
          {{ 'common.forms.errors.required' | translate }}
        </div>
        <div *ngIf="category.errors.remote">
          {{ category.errors.remote }}
        </div>
      </div>

      <ion-item>
        <ion-label floating>{{ 'tasks.update.form.fields.startDate' | translate }}</ion-label>
        <ion-datetime formControlName="startDate" id="startDate" [min]="minDate" [max]="maxDate">
        </ion-datetime>
        <i class="icon ion-alert-circled error"></i>
      </ion-item>
      <div *ngIf="(startDate.dirty || isSubmitted) && startDate.invalid" class="form-error-message">
        <div *ngIf="startDate.errors.required">
          {{ 'common.forms.errors.required' | translate }}
        </div>
        <div *ngIf="startDate.errors.remote">
          {{ startDate.errors.remote }}
        </div>
        <div *ngIf="startDate.errors.pastDate">
          {{ 'common.forms.errors.pastDate' | translate }}
        </div>
      </div>

      <ion-item>
        <ion-label floating>{{ 'tasks.update.form.fields.endDate' | translate }}</ion-label>
        <ion-datetime formControlName="endDate" id="endDate" [min]="minDate" [max]="maxDate">
        </ion-datetime>
        <i class="icon ion-alert-circled error"></i>
      </ion-item>
      <div *ngIf="(endDate.dirty || isSubmitted) && endDate.invalid" class="form-error-message">
        <div *ngIf="endDate.errors.required">
          {{ 'common.forms.errors.required' | translate }}
        </div>
        <div *ngIf="endDate.errors.remote">
          {{ endDate.errors.remote }}
        </div>
        <div *ngIf="endDate.errors.pastDate">
          {{ 'common.forms.errors.pastDate' | translate }}
        </div>
      </div>
      <div *ngIf="form.errors && form.errors.swappedDates" class="form-error-message">
          {{ 'common.forms.errors.swappedDates' | translate }}
      </div>

      <ion-item>
        <ion-label floating>{{ 'tasks.update.form.fields.description' | translate }}</ion-label>
        <ion-textarea formControlName="description" id="description" type="text">
        </ion-textarea>
        <i class="icon ion-alert-circled error"></i>
      </ion-item>
      <div *ngIf="(description.dirty || isSubmitted) && description.invalid" class="form-error-message">
        <div *ngIf="description.errors.remote">
          {{ description.errors.remote }}
        </div>
      </div>

      <ion-item>
        <ion-label floating>{{ 'tasks.update.form.fields.priority' | translate }}</ion-label>
        <ion-select formControlName="priority" id="priority">
          <ion-option *ngFor="let option of priorityOptions" value="{{ option.name }}">
            {{ option.label | translate }}
          </ion-option>
        </ion-select>
        <i class="icon ion-alert-circled error"></i>
      </ion-item>
      <div *ngIf="(priority.dirty || isSubmitted) && priority.invalid" class="form-error-message">
        <div *ngIf="priority.errors.required">
          {{ 'common.forms.errors.required' | translate }}
        </div>
        <div *ngIf="priority.errors.remote">
          {{ priority.errors.remote }}
        </div>
      </div>

      <div padding>
        <button ion-button block type="submit" class="submit-button" [disabled]="!form.valid">
          {{ 'tasks.update.form.submitButton' | translate }}
        </button>
      </div>
    </form>
  </ion-list>
</ion-content>
