<ion-header>
  <header [pageTitle]="'events.list.title' | translate"></header>
  <ion-list class="ordering-options">
    <ion-item class="ordering-option">
      <ion-select [(ngModel)]="orderBy" (ionChange)="sortEvents()">
        <ion-option value="createdAt">
          {{ 'events.list.ordering.orderBy.createdAt' | translate }}
        </ion-option>
        <ion-option value="updatedAt">
          {{ 'events.list.ordering.orderBy.updatedAt' | translate }}
        </ion-option>
        <ion-option value="startDate">
          {{ 'events.list.ordering.orderBy.startDate' | translate }}
        </ion-option>
        <ion-option value="endDate">
          {{ 'events.list.ordering.orderBy.endDate' | translate }}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item class="ordering-option">
      <ion-select [(ngModel)]="orderType" (ionChange)="sortEvents()">
        <ion-option value="ascending">
          {{ 'events.list.ordering.orderType.ascending' | translate }}
        </ion-option>
        <ion-option value="descending">
          {{ 'events.list.ordering.orderType.descending' | translate }}
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding #item *ngFor="let event of events">
      <ion-item (click)="navigateToDetailPage(event)" no-lines class="list-item">
        <ion-icon name="md-calendar" color="primary" item-start large></ion-icon>
        <h2>{{ event.name }}</h2>
        <p>
          {{ event.startDate | date:'dd.MM HH:mm' }}
          <span *ngIf="event.endDate !== event.startDate">
            - {{ event.endDate | date:'dd.MM HH:mm' }}
          </span>
        </p>
      </ion-item>
      <ion-item-options side="right" class="list-options">
        <button ion-button color="primary" (click)="navigateToUpdatePage(event, item)">
          <ion-icon name="md-create"></ion-icon>
        </button>
        <button ion-button color="danger" (click)="deleteEvent(event)">
          <ion-icon name="md-trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab (click)="navigateToCreatePage()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
