<ion-header>
  <header pageTitle="Events"></header>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let event of events">
      <ion-item (click)="navigateToDetailPage(event)">
        <ion-icon name="md-calendar" item-start large></ion-icon>
        <h2>{{ event.name }}</h2>
        <p>
          {{ event.startDate | date:'dd.MM HH:mm' }}
          <span *ngIf="event.endDate !== event.startDate">
            - {{ event.endDate | date:'dd.MM HH:mm' }}
          </span>
        </p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteEvent(event)">
          <ion-icon name="md-trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab (click)="navigateToCreatePage()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
